<div class="card-columns">
  <div class="card bg-light">
    <img class="card-img-top" [src]="h1" alt="Card image" style="width:100%">
    <div class="card-body text-center">
      <!-- <p class="card-text">Some text inside the first card</p> -->
      <h4 class="card-title">SURYA SAMUDRA, KOVALAM</h4>
      <p class="card-text">As eco-friendly as it is tranquil, Surya Samudra, a Niraamaya Retreats property, is dedicated to the preservation of Kerala’s natural beauty.</p>
      <a href="https://www.greavesindia.co.uk/50-best-luxury-hotels-india/" target=_blank class="btn btn-primary stretched-link">VISIT</a>
    </div>
  </div>
  <div class="card bg-light">
    <img class="card-img-top" [src]="h2" alt="Card image" style="width:100%">
    <div class="card-body text-center">
      <!-- <p class="card-text">Some text inside the second card</p> -->
      <h4 class="card-title">THE LEELA, GOA</h4>
      <p class="card-text">With personal butlers, a 12-hole golf course and ocean-views, The Leela in Goa spares no expense when curating its atmosphere of beachside luxury.</p>
      <a href="https://www.greavesindia.co.uk/50-best-luxury-hotels-india/" target=_blank class="btn btn-primary stretched-link">VISIT</a>
    </div>
  </div>
  <div class="card bg-light">
    <img class="card-img-top" [src]="h3" alt="Card image" style="width:100%">
    <div class="card-body text-center">
      <!-- <p class="card-text">Some text inside the second card</p> -->
      <h4 class="card-title">HILTON SHILLIM ESTATE RETREAT & SPA, PUNE</h4>
      <p class="card-text">With a luxurious menu of spa treatments helmed by an Ayurvedic doctor and Hillton Shillim Estate Retreat & Spa is undoubtedly among India’s best luxury wellness hotels.</p>
      <a href="https://www.greavesindia.co.uk/50-best-luxury-hotels-india/" target=_blank class="btn btn-primary stretched-link">VISIT</a>
    </div>
  </div>
  <div class="card bg-light">
    <img class="card-img-top" [src]="h4" alt="Card image" style="width:100%">
    <div class="card-body text-center">
      <!-- <p class="card-text">Some text inside the second card</p> -->
      <h4 class="card-title">CARNOUSTIE WELLNESS RESORT, KERALA</h4>
      <p class="card-text">At once a wellness retreat and one of the best luxury hotels in India, Carnoustie is a yogi’s paradise, situated on the waters of the Arabian.</p>
      <a href="https://www.greavesindia.co.uk/50-best-luxury-hotels-india/" target=_blank class="btn btn-primary stretched-link">VISIT</a>
    </div>
  </div>
  <div class="card bg-light">
    <img class="card-img-top" [src]="h5" alt="Card image" style="width:100%">
    <div class="card-body text-center">
      <!-- <p class="card-text">Some text inside the second card</p> -->
      <h4 class="card-title">SHREYAS, BENGALURU</h4>
      <p class="card-text">Part boutique-hotel, part yoga-retreat, Shreyas in Bangalore welcomes a maximum of just 20 guests at a time. Guaranteed peace and privacy.</p>
      <a href="https://www.greavesindia.co.uk/50-best-luxury-hotels-india/" target=_blank class="btn btn-primary stretched-link">VISIT</a>
    </div>
  </div>
  <div class="card bg-light">
    <img class="card-img-top" [src]="h6" alt="Card image" style="width:100%">
    <div class="card-body text-center">
      <!-- <p class="card-text">Some text inside the second card</p> -->
      <h4 class="card-title">TAJ MADIKERI RESORT & SPA, COORG</h4>
      <p class="card-text">The green and lovely mountains of Coorg in South India may not be Himalayan in scope, but the Taj Madikeri takes full advantage of its more than photogenic rainforest backdrop.</p>
      <a href="https://www.greavesindia.co.uk/50-best-luxury-hotels-india/" target=_blank class="btn btn-primary stretched-link">VISIT</a>
    </div>
  </div>
  <div class="card bg-light">
    <img class="card-img-top" [src]="h7" alt="Card image" style="width:100%">
    <div class="card-body text-center">
      <!-- <p class="card-text">Some text inside the second card</p> -->
      <h4 class="card-title">SURYAGARH, JAISALMER</h4>
      <p class="card-text">Suryagarh’s golden fortress blends beautifully with the muted plains of the Thar Desert. Step inside, and it’s all about the colour: Opulently appointed interiors; vivid Rajasthani fabrics.</p>
      <a href="https://www.greavesindia.co.uk/50-best-luxury-hotels-india/" target=_blank class="btn btn-primary stretched-link">VISIT</a>
    </div>
  </div>
  <div class="card bg-light">
    <img class="card-img-top" [src]="h8" alt="Card image" style="width:100%">
    <div class="card-body text-center">
      <!-- <p class="card-text">Some text inside the second card</p> -->
      <h4 class="card-title">RAMBAGH PALACE, JAIPUR</h4>
      <p class="card-text">For a suitably indulgent getaway, guests can follow in the footsteps of the Maharaja at the Taj Rambagh Palace.</p>
      <a href="https://www.greavesindia.co.uk/50-best-luxury-hotels-india/" target=_blank class="btn btn-primary stretched-link">VISIT</a>
    </div>
  </div>
  <div class="card bg-light">
    <img class="card-img-top" [src]="h9" alt="Card image" style="width:100%">
    <div class="card-body text-center">
      <!-- <p class="card-text">Some text inside the second card</p> -->
      <h4 class="card-title">UDAI BILAS PALACE, DUNGARPUR</h4>
      <p class="card-text">Sandwiched between the blue waters of the Gaibsagar Lake and a private forest reserve, theUdai Bilas Palaceis as pretty as a film set & undoubtedly, the best hotel in Dungarpur.</p>
      <a href="https://www.greavesindia.co.uk/50-best-luxury-hotels-india/" target=_blank class="btn btn-primary stretched-link">VISIT</a>
    </div>
  </div>
</div>
