<div class="card-columns">
  <div class="card bg-light">
    <img class="card-img-top" [src]="mumbai" alt="Card image" style="width:100%">
    <div class="card-body text-center">
      <!-- <p class="card-text">Some text inside the first card</p> -->
      <h4 class="card-title">MUMBAI</h4>
      <p class="card-text">Among India’s most beautiful railway stations, it is declared as the UNESCO World Heritage Site. Chhatrapati Shivaji Terminus is also referred to as Victoria Terminus. It was built in 1887, followed by a change of name to Chhatrapati Shivaji Terminus, Mumbai in 1996.</p>
      <a href="https://www.railrestro.com/blog/top-11-most-beautiful-railway-stations-of-india" target=_blank class="btn btn-primary stretched-link">VISIT MUMBAI</a>
    </div>
  </div>
  <div class="card bg-light">
    <img class="card-img-top" [src]="delhi" alt="Card image" style="width:100%">
    <div class="card-body text-center">
      <!-- <p class="card-text">Some text inside the second card</p> -->
      <h4 class="card-title">DELHI</h4>
      <p class="card-text">Old Delhi Railway Station is one of the oldest train stations in New Delhi, also known as the Delhi Junction. It is a station that is generally located near the Kashmiri Gate region and is one of the most important railway stations.</p>
      <a href="https://www.railrestro.com/blog/top-11-most-beautiful-railway-stations-of-india" target=_blank class="btn btn-primary stretched-link">VISIT DELHI</a>
    </div>
  </div>
  <div class="card bg-light">
    <img class="card-img-top" [src]="bengal" alt="Card image" style="width:100%">
    <div class="card-body text-center">
      <!-- <p class="card-text">Some text inside the second card</p> -->
      <h4 class="card-title">WEST BENGAL</h4>
      <p class="card-text">The Howrah Station, is one of the oldest in India. This Indian railway station is situated on the banks of the River Hooghly and linked to Kolkata via the Howrah Bridge. It is also  one of the highest train handling capacities in India with 23 platforms to serve.</p>
      <a href="https://www.railrestro.com/blog/top-11-most-beautiful-railway-stations-of-india" target=_blank class="btn btn-primary stretched-link">VISIT BENGAL</a>
    </div>
  </div>
  <div class="card bg-light">
    <img class="card-img-top" [src]="andhra" alt="Card image" style="width:100%">
    <div class="card-body text-center">
      <!-- <p class="card-text">Some text inside the second card</p> -->
      <h4 class="card-title">VIJAYAWADA</h4>
      <p class="card-text">Vijayawada Railway Station is commonly considered to be one of the busiest railway stations in South India.Amongst the cleanest railway stations of India, it was granted A1 status in the year 2008.</p>
      <a href="https://www.railrestro.com/blog/top-11-most-beautiful-railway-stations-of-india" target=_blank class="btn btn-primary stretched-link">VISIT VIJAYAWADA</a>
    </div>
  </div>
  <div class="card bg-light">
    <img class="card-img-top" [src]="lucknow" alt="Card image" style="width:100%">
    <div class="card-body text-center">
      <!-- <p class="card-text">Some text inside the second card</p> -->
      <h4 class="card-title">LUCKNOW</h4>
      <p class="card-text">The Charbagh Railway Station in Lucknow is contemplated to be the most beautiful railway station in India compared to the others. Charbagh refers to the four gardens that exist here.</p>
      <a href="https://www.railrestro.com/blog/top-11-most-beautiful-railway-stations-of-india" target=_blank class="btn btn-primary stretched-link">VISIT LUCKNOW</a>
    </div>
  </div>
  <div class="card bg-light">
    <img class="card-img-top" [src]="kanpur" alt="Card image" style="width:100%">
    <div class="card-body text-center">
      <!-- <p class="card-text">Some text inside the second card</p> -->
      <h4 class="card-title">KANPUR</h4>
      <p class="card-text">It is the largest Indian railway station in Uttar Pradesh, and Kanpur is one of the four main railway stations in India. The most beautiful railway station of India was established in 1928 and completed in 1930.</p>
      <a href="https://www.railrestro.com/blog/top-11-most-beautiful-railway-stations-of-india" target=_blank class="btn btn-primary stretched-link">VISIT KANPUR</a>
    </div>
  </div>
  <div class="card bg-light">
    <img class="card-img-top" [src]="goa" alt="Card image" style="width:100%">
    <div class="card-body text-center">
      <!-- <p class="card-text">Some text inside the second card</p> -->
      <h4 class="card-title">GOA</h4>
      <p class="card-text">When it comes to natural beauty, Dudhsagar steals the show. The railway station offers the most spectacular view of Goa.</p>
      <a href="https://www.railrestro.com/blog/top-11-most-beautiful-railway-stations-of-india" target=_blank class="btn btn-primary stretched-link">VISIT GOA</a>
    </div>
  </div>
  <div class="card bg-light">
    <img class="card-img-top" [src]="nagpur" alt="Card image" style="width:100%">
    <div class="card-body text-center">
      <!-- <p class="card-text">Some text inside the second card</p> -->
      <h4 class="card-title">NAGPUR</h4>
      <p class="card-text">Nagpur Railway Station is considered to be one of the busiest railway junctions and subsequently the most important railway junctions in India. It is also considered to be one of the best tourist destinations in the country and listed among the most beautiful Railway stations of India. It is famous for Nagpur oranges and is sometimes known as the Orange City for being a major trade center of oranges cultivated in large part of the region.</p>
      <a href="https://www.railrestro.com/blog/top-11-most-beautiful-railway-stations-of-india" target=_blank class="btn btn-primary stretched-link">VISIT NAGPUR</a>
    </div>
  </div>
  <div class="card bg-light">
    <img class="card-img-top" [src]="jaisalmer" alt="Card image" style="width:100%">
    <div class="card-body text-center">
      <!-- <p class="card-text">Some text inside the second card</p> -->
      <h4 class="card-title">JAISALMER</h4>
      <p class="card-text">Even today, Jaisalmer Railway Station is considered to be one of the most beautiful railway stations in India and home to the most luxurious trains. Jaisalmer is the most beautiful town in Rajasthan.</p>
      <a href="https://www.railrestro.com/blog/top-11-most-beautiful-railway-stations-of-india" target=_blank class="btn btn-primary stretched-link">VISIT JAISALMER</a>
    </div>
  </div>
</div>
