<div class="box" id="printJS-form">
  <div class="ticket">
    <span class="airline">INDIAN RAILWAYS</span>
    <span class="airline airlineslip">RAILWAYS</span>
    <span class="boarding">TRAIN TICKET</span>
    <div class="content">
      <span class="departure">{{this.trainResultName[0].source}}</span>


      <span class="plane"><span class="material-icons action-btn" style="font-size: 40px,margin-right:40px">east</span></span>
      <span class="destination">{{this.trainResultName[0].destination}}</span>

      <span class="departure departureslip">{{this.trainResultName[0].source}}</span>
      <span class="plane planeslip"><span class="material-icons action-btn" style="font-size: 40px,margin-right:40px">east</span></span>
      <!-- <span class="plane planeslip"><svg clip-rule="evenodd" fill-rule="evenodd" height="50" width="50" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg"><g stroke="#222"><line fill="none" stroke-linecap="round" stroke-width="30" x1="300" x2="55" y1="390" y2="390"/><path d="M98 325c-9 10 10 16 25 6l311-156c24-17 35-25 42-50 2-15-46-11-78-7-15 1-34 10-42 16l-56 35 1-1-169-31c-14-3-24-5-37-1-10 5-18 10-27 18l122 72c4 3 5 7 1 9l-44 27-75-15c-10-2-18-4-28 0-8 4-14 9-20 15l74 63z" fill="#222" stroke-linejoin="round" stroke-width="10"/></g></svg></span> -->
      <span class="destination destinationslip">{{this.trainResultName[0].destination}}</span>
      <div class="sub-content">
        <!-- <span class="watermark">Lufthansa</span> -->
        <span class="name">PASSENGER NAMES<br><span class="data">{{this.findTrains.passName}}</span></span>
        <!-- <span class="flight">Pass NO.<br><span class="data">{{this.findTrains.passNo}}</span></span> -->
        <span class="flight">Pass No.<br><span class="data">{{this.findTrains.passNo}}</span></span>
        <span class="gate">Train No.<br><span class="data">{{this.trainResultName[0].trainno}}</span></span>
        <span class="seat">Time<br><span class="data">{{this.trainResultName[0].depttime}}</span></span>
        <span class="boardingtime">TRAIN NAME:<br><span class="data">{{this.trainResultName[0].trainname}}</span></span>


         <span class="flight flightslip">Pass No.<br><span class="data">{{this.findTrains.passNo}}</span></span>
          <span class="seat seatslip">TrainNo.<br><span class="data">{{this.trainResultName[0].trainno}}</span></span>
         <span class="name nameslip">PASSENGER NAMES<br><span class="data">{{this.findTrains.passName}}</span></span>
      </div>
    </div>
    <div class="barcode"></div>
    <div class="barcode slip"></div>
  </div>
</div>

<button type="button" class="btn btn-primary float-right" (click)="print()">PRINT TICKET</button>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
