<div class="text-center">
  <div class="card" style="width: 400px">
    <img class="card-img-top" [src]="h1" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">CONTACT US</h5>
      <p class="card-text"><b>Registered Office / Corporate Office</b><br>
  Indian Railway Catering and Tourism Corporation Ltd.,<br>
  B-148, 11th Floor, Statesman House,<br>
  Barakhamba Road, New Delhi 110001</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>I-tickets/e-tickets </b>:<br> <a href=''>care@irctc.co.in</a></li>
      <li class="list-group-item"><b>For Cancellation E-tickets</b> :<br> <a href=''>etickets@irctc.co.in</a></li>
      <li class="list-group-item"><b>For Mumbai Suburban Season tickets</b> :<br> <a href=''>seasontickets@irctc.co.in</a></li>
    </ul>
  </div>
</div>
